{% extends 'template/layout.twig' %}


{% block title %}
    <title>Patients</title>
{% endblock %}
{% block file_dariane %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Gestion des patients</h1>
    </div>
{% endblock %}
{% block content %}
    <div class="card shadow col-md-12">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary"><i class="fa fa-users"></i> Nos Patients</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Nom & Prénom</th>
                        <th>Date de naissance</th>
                        <th>Ville</th>
                        <th>Email</th>
                        <th>Adhésion en cours</th>
                        <th>Entretien</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for patient in patients %}
                        <tr style="text-align: center">
                            <td><span style="text-transform: uppercase">{{ patient.last_name }} </span>{{ patient.first_name }} {{ patients.id }}</td>
                            <td>{{ patient.birthdate|date("m-d-Y") }}</td>
                            <td>{{ patient.address_city }}</td>
                            <td>{{ patient.mail }}</td>
                            <td>
                            {% if patient.expiration_date > "now"|date("Y-m-d") %}
                                <h4 style="color: white"><span class="badge bg-success">Valide</span></h4>
                            {% endif %}

                            {% if patient.expiration_date < "now"|date("Y-m-d") %}
                                <h4 style="color: white"><span class="badge bg-danger">Date Expirer</span></h4>
                            {% endif %}
                            </td>
                            <td>
                                    <h4 style="color: white"><span class="badge bg-info">{{ patient.date|date("m/d/Y") }}</span></h4>
                            </td>
                            <td>
                                <a class="btn btn-outline-dark" href="index.php?p=print_patient&id={{patient.users_id}}">
                                <span class="fa fa-print"></span>
                                </a>
                                <a class="btn btn-outline-dark" href="index.php?p=unique_patient&id={{patient.users_id}}">
                                    <span class="fa fa-eye"></span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <!-- Modals -->
    <!-- edit -->


{% endblock %}