{% extends 'template/layout.twig' %}


{% block title %}
    <title>Praticien| {{unique_patient.first_name}} {{unique_patient.last_name}}</title>
{% endblock %}
{% block topbar %}
    <p>LALALALALA</p>
{% endblock %}
{% block content %}
    <!-- Load the `mapbox-gl-geocoder` plugin. -->
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css" type="text/css">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <div id='map' style='width: 100%; height: 500px;'></div>
            </div>
            <div class="col-md-6">
                <div class="card shadow col-12">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary"><i class="fa fa-stethoscope"></i> Praticiens</h6>
                    </div>
                    <div class="card-body">
                        <form name="practitian" action="admin/form.php?practitian=1&id={{id}}" method="post">
                            <div class="table-responsive">
                                <table class="table table-bordered display" id="" width="100%" cellspacing="0">
                                        <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">Titre</th>
                                            <th scope="col">Spécialité</th>
                                            <th scope="col">Nom & Prénom</th>
                                            <th scope="col">Ville</th>
                                            <th scope="col"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            {%for practitian in practitians %}
                                                <tr>
                                                    <th scope="row">{{practitian.users_id}}</th>

                                                    <th scope="row">

                                                        {% if practitian.type == 1 %}
                                                            Docteur
                                                        {%elseif practitian.type == 2 %}
                                                            Chirurgien
                                                        {% elseif practitian.type == 3 %}
                                                            Infirmier
                                                        {%elseif practitian.type == 4 %}
                                                            Aide Soignant
                                                        {% elseif practitian.type == 5 %}
                                                            Psychologue
                                                        {% endif %}

                                                    </th>
                                                    <td>

                                                        {% if practitian.speciality == 1 %}
                                                            Généraliste
                                                        {% elseif practitian.speciality == 2 %}
                                                            Bariatrique
                                                        {% elseif practitian.speciality == 3 %}
                                                            Psychologie
                                                        {% endif %}

                                                    </td>
                                                    <td><span href="#" class="btn btn-sm btn-outline-secondary practitian_button" data-users_id="{{practitian.users_id}}">{{practitian.last_name}} {{practitian.first_name}}</span></td>
                                                    <td>{{practitian.address_city|convert_encoding('UTF-8', 'ISO-8859-1')}}</td>
                                                    <td>
                                                        <input name="practitian_{{practitian.id}}" type="checkbox" value="1">
                                                    </td>
                                                </tr>
                                            {%endfor%}
                                        </tbody>
                                    </table>
                            </div>
                            <input class="btn btn-outline-success" type="submit" name="submit_practitian" value="Ajouter">
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="col-md-6">
            <div class="card shadow col-12">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary"><i class="fa fa-stethoscope"></i> Praticiens</h6>
                </div>
                <div class="card-body">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3">
                                <img src="" id="avatar_ajax" alt="" width="100%"/>
                            </div>
                            <div class="col-md-9">
                                <h4 style="display: inline" id="type_ajax"></h4> <h3 style="display: inline; font-weight: bold;" id="name_ajax"></h3>
                                <h6 style="font-style: italic" id="speciality_ajax"></h6>
                                <p id="description_ajax"></p>
                            </div>
                            <div class="col-md-9">
                                <br>
                                <i style="display: inline" class="fa fa-phone"></i> <p style="display: inline" id="phone_ajax"></p><br>
                                <i style="display: inline" class="fa fa-mail-bulk"> </i><p style="display: inline" id="mail_ajax"></p><br>
                                <i style="display: inline" class="fa fa-globe"></i> <p style="display: inline" id="url_web_ajax"></p>
                            </div>
                            <div class="col-md-3">
                                <br>
                                <h6 style="display: inline" id="address_street_ajax"></h6><br>
                                <h6 style="display: inline" id="address_cp_ajax"></h6><p style="display: inline">, </p> <h6 style="display: inline" id="address_city_ajax"></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        mapboxgl.accessToken = 'pk.eyJ1Ijoic2VibG9lYiIsImEiOiJjbDJ3MWE0OWUwaGUxM2ZxbWI1ZTlucjdtIn0.q-sLFfayOzT5jV8PQLGvvw';
        const map = new mapboxgl.Map({
            container: 'map', // container ID
            style: 'mapbox://styles/sebloeb/cl2w0rz9c000e15pff4bz9ft9', // style URL
            center: [{{city_patient.longitude}}, {{city_patient.latitude}}], // starting position [lng, lat]
            zoom: 11 // starting zoom
        });

        map.addControl(
            new MapboxGeocoder({
                accessToken: mapboxgl.accessToken,
                mapboxgl: mapboxgl
            })
        );

        // Create a default Marker and add it to the map.
        const marker1 = new mapboxgl.Marker({color: '#BE7781'})
            .setLngLat([{{city_patient.longitude}}, {{city_patient.latitude}}])
            .addTo(map);

        {% for practitian in city_practitian %}
        // Create a default Marker and add it to the map.
        const marker{{practitian.users_id}} = new mapboxgl.Marker({color: '#668AB2'})
            .setLngLat([{{practitian.longitude}}, {{practitian.latitude}}])
            .setPopup(new mapboxgl.Popup().setHTML("<div class='row'><div class='col-md-3'><img src='image/{{practitian.avatar}}' width='150%'></div><div class='col-md-9'><p><strong>{{practitian.last_name}} {{practitian.first_name}}</strong></p><p style='text-align: center;'>{% if practitian.type == 1 %} Docteur {%elseif practitian.type == 2 %} Chirurgien {% elseif practitian.type == 3 %} Infirmier {%elseif practitian.type == 4 %} Aide Soignant {% elseif practitian.type == 5 %} Psychologue {% endif %} - {% if practitian.speciality == 1 %} Généraliste {% elseif practitian.speciality == 2 %} Bariatrique {% elseif practitian.speciality == 3 %} Psychologie {% endif %}</p><h5 style='text-align: center;'>ID: <strong>{{practitian.users_id}}</strong></h3></div></div>")) // add popup
            .addTo(map);
       // marker{{practitian.users_id}}.togglePopup(); // toggle popup open or closed

        {% endfor %}
    </script>
{% endblock %}