{% extends 'template/layout_print.twig' %}


{% block title %}
    <title>Patients</title>
{% endblock %}
{% block file_dariane %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Gestion des patients</h1>
    </div>
{% endblock %}
{% block content %}
    <script type="text/javascript">
        window.print();
    </script>
    <!-- Print -->
<div class="col-md-12">
    <h1>Les Zèbres SED</h1>
    <h5>Nathalie RIBES</h5>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="card shadow col-md-12">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary"><i class="fa fa-user"></i> Informations du patient</h6>
        </div>
        <div class="card-body">
            <H6>Nom: <strong>{{unique_patient.first_name}}</strong></H6>
            <H6>Prénom: <strong>{{unique_patient.last_name}}</H6>
            <br>
            <H6>Date de naissance: <strong>{{unique_patient.birthdate}}</strong></H6>
            <br>
            <H6>Adresse Postale: <strong>{{unique_patient.address_street}}, {{unique_patient.address_cp}}, {{unique_patient.address_city}}</strong></H6>
            <br>
            <br>
            <H6>Mail: <strong>{{unique_patient.mail}}</strong></H6>
            <H6>Téléphone: <strong>{{unique_patient.phone}}</strong></H6>
        </div>
    </div>
    <br>
    <hr>
    <br>
    <div class="card shadow col-md-12">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary"><i class="fa fa-heart"></i> Suivi du patient</h6>
        </div>
        <div class="card-body">
            {%for statuts in statut_patient %}
                <h6>Date: <strong>{{statuts.date |date("m-d-Y") }}</strong></h6>
                <br>
                <h6>Sujet: <strong>{{statuts.subject}}</strong></h6>
                <br>
                <h6>Message: <strong>{{statuts.message}}</strong></h6>
                <br>
                <hr>
                <br>
            {%endfor%}
        </div>
    </div>
</div>

{% endblock %}